.navbar {
    background-color: #222;
    padding: 1em;
    height: 125px;
}


.list {
    display: flex;
    list-style: none;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
}


.tudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
