.project_container {
    padding: 2em;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px;
}

.div {
    margin: 20px;
}