*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html , body , #root {
  background-color: aliceblue;
  height: 100%;
}


.cabeçalho {
  min-height: 688px;
}


.link {
  text-decoration: none;
  color: black;
}

